h1 {
    background-color: var(--yellow);
    padding: 5px;
    color: var(--bg-color);
    font-size: 30pt;
    width: fit-content;
}
h2 {
    background-color: var(--yellow);
    padding: 5px 10px;
    color: var(--bg-color);
    font-size: 20pt;
    width: fit-content;
    margin-bottom: 30px;
}
h3 {
    background-color: var(--yellow);
    padding: 5px;
    color: var(--bg-color);
    width: fit-content;
}
h4 {
    background-color: var(--yellow);
    padding: 8px;
    color: var(--bg-color);
    width: fit-content;
}

p {
    margin-top: 5px;
}

button {
    background-color: inherit;
    color: var(--yellow);
    outline: none;
    padding: 5px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    border: 2px solid var(--yellow);
    cursor: pointer;
    margin-bottom: 5px;
    user-select: none;
}

.sectNotFinished {
    border: 2px dashed var(--yellow);
    background: inherit;
    color: var(--yellow);
}

.sectFinished {
    border: none;
    background: var(--yellow);
    color: var(--bg-color);
}

button:hover {
    background-color: var(--yellow);
    color: var(--bg-color);
}

button:active {
    border-color: var(--yellow-dark);
    background-color: var(--yellow-dark);
}

header {
    margin-bottom: 40px;
}

header > .logo {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    display: block;
}
.section {
    padding-top: 20px;
    padding-left: 2%;
    padding-bottom: 20px;
}

.section h2 {
    margin-left: -2%;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    background-color: var(--yellow);
    padding: 8px;
    color: var(--bg-color);
    margin-right: 10px;
}

input {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    border: none;
    border: 2px solid var(--yellow);
    padding: 5px;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

#rolling {
    margin-top: 5px;
    width: 65%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 10px;
    border-right: 2px solid var(--yellow);
}

#calcStats {
    margin-top: 0px;
    width: 35%;
    box-sizing: border-box;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}

#calcStats > .stat {
    margin-bottom: 10px;
}
#calcStats > h4 {
    margin-top: 0px;
    background: inherit;
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}

@media only screen and (max-width: 710px) {
    #rolling {
        width: 60%;
    }

    #calcStats {
        width: 40%;
    }
}

@media only screen and (max-width: 630px) {
    #rolling {
        width: 100%;
        display: block;
        padding: 0;
        border-right: none;
    }

    #calcStats {
        width: 100%;
        display: block;
        padding: 0;
    }
    #calcStats > .stat {
        display: inline-block;
        margin-right: 20px;
    }
}

#skillsColumns {
    margin-top: 40px;
}

.col1 {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 10px;
    vertical-align: top;
}

.col1 h3,
.col2 h3 {
    margin-top: 0px;
}

.col2 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 20px;
    border-left: 2px solid var(--yellow);
}

@media only screen and (max-width: 790px) {
    .col1 {
        width: 100%;
        display: block;
        padding: 0;
    }

    .col2 {
        width: 100%;
        display: block;
        padding: 0;
        margin-top: 30px;

        border-left: none;
    }

    .newSkillList {
        width: 100%;
    }
}

.newSkillList {
    max-height: 285px;
    overflow-y: scroll;
    display: inline-block;
}

.pickupContainer {
    max-width: 400px;
}

.pickupScroll {
    margin-top: 10px;
    text-align: center;
    padding-right: 20px;
    box-sizing: border-box;
}

#backstorySection h3 {
    margin-right: 20px;
    margin-bottom: 15px;
    display: inline-block;
}

.familyList td {
    padding-left: 10px;
}

.familyList ul {
    padding: 0;
}

.lifeList td {
    padding-bottom: 10px;
    padding-left: 10px;
}

.conclusion {
    text-align: center;
}

.conclusion p {
    text-align: left;
}

.inlineStat {
    margin-right: 30px;
    display: inline-block;
}

.borderTable {
    border-collapse: collapse;
}

.borderTable td,
.borderTable th {
    border: 2px solid var(--yellow);
    padding: 5px;
    text-align: center;
}

.borderTable td {
    padding: 17px;
}
